.jumbotron {
  padding-top: 8rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.landing {
  flex-flow: column;
  min-height: 100vh;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.tab {
  display: inline-block;
  margin-left: 10px;
}

.education {
  flex-flow: column;
  min-height: 88vh;
}

footer {
  flex-flow: column;
  min-height: 12vh;
  padding-top: 5vh;
  padding-bottom: 3rem;
}

footer p {
  float: left;
}
